@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --brown: #604037;
    --green: #5A946A;
    --light: #EEF1F4;
    --green_d: #75C58B;
    --bgcolor: #FAEEE7;
    --bgcolorDM: #2C2930;
    --big-font: 58px;
    --small-font: 22px;
    --josefin: 'Josefin Sans', sans-serif;
    --inter: 'Inter', sans-serif;
}

body {
    margin: 0 auto;
    background-color: var(--bgcolor);
    letter-spacing: -0.02em;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section {
    width: 100vw;
    height: fit-content;
    /* z-index: -1; */
}

.header {
    width: 100%;
    font-size: 58px;
    font-weight: 400;
    text-decoration: underline;
    color: var(--brown);
    position: relative;
    text-align: center;
}

.header_d {
    width: 100%;
    font-size: 58px;
    font-weight: 400;
    text-decoration: underline;
    color: var(--light);
    position: relative;
    text-align: center;
}

/* ------------------------------------------------------ Navbar ------------------------------------------------------ */

.nav-container {
    display: block;
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: var(--bgcolor);
    z-index: 100;
}
nav {
    position: relative;
    float: right;
    width: 50%;
    height: 50px;
    z-index: 1;
    background-color: var(--bgcolor);
}
nav ul {
    margin: 0;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-family: var(--josefin);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.02em;
    font-feature-settings: 'calt' off;
    color: var(--brown);
}
li {
    list-style: none;
    text-decoration: none;
    color: var(--brown);
    cursor: pointer;
}
a {
    text-decoration: none;
    color: var(--brown);
}
.underline {
    display: none;
    border: 2px solid var(--green);
    position: relative;
    bottom: 3px;
}

#themeBtn {
    position: relative;
    top: 4px;
}
#btnAbout {
    width: fit-content;
    height: 30px;
    position: relative;
    top: 5px;
}
#btnProjects {
    width: fit-content;
    height: 30px;
    position: relative;
    top: 5px;
}
#btnContact {
    width: fit-content;
    height: 30px;
    position: relative;
    top: 5px;
}
#btnResume {
    width: fit-content;
    height: 30px;
    position: relative;
    top: 5px;
}
#btnResumeStyle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-family: var(--josefin);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.02em;
    font-feature-settings: 'calt' off;
}

/* Logo and line */

.line_l {
    position: relative;
    border: 1px solid var(--brown);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--brown);
    z-index: -1;
}
.line_d {
    position: relative;
    border: 1px solid var(--light);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--light);
    z-index: -1;
}

#short-line {
    top: 50px;
    width: 160px;
}

.logo {
    position: relative;
    width: 95px;
    height: fit-content;
    top: 31px;
    left: 160px;
    z-index: 100;
}

#long-line {
    left: 260px;
    top: -4px;
    width: 86%;
}

/* ------------------------------------------------------ Home page ------------------------------------------------------ */

.home {
    height: 100vh;
    width: 100vw;
    margin-bottom: 20px;
}

/* Lamps */

.lamp {
    z-index: -1;
    transition: 0.5s cubic-bezier(0.6, 0.29, 0.31, 0.65);
    border-radius: 127.5px;
}

#lampYellow {
    position: absolute;
    width: 261px;
    height: 933px;
    left: 23px;
    top: 0;
}
.hoverYellow {
    position: absolute;
    width: 125px;
    height: 780px;
    left: 80px;
    top: 0;
}

#lampOrange {
    position: absolute;
    width: 260px;
    height: 908.5px;
    left: 1075px;
    top: 0px;
}
.hoverOrange {
    position: absolute;
    width: 190px;
    height: 770px;
    left: 1100px;
    top: 0;
}

#lampBlue {
    position: absolute;
    width: 243px;
    height: 789px;
    left: 1269px;
    top: 0px;
}
.hoverBlue {
    position: absolute;
    width: 165px;
    height: 690px;
    left: 1300px;
    top: 0;
}

#lampPink {
    position: absolute;
    width: 301px;
    height: 977px;
    /* right: 215px; */
    left: 1404px;
    top: 0px;
}
.hoverPink {
    position: absolute;
    width: 165px;
    height: 780px;
    left: 1510px;
    top: 0;
}

#lampPurple {
    position: absolute;
    width: 228px;
    height: 760px;
    left: 1682px;
    top: 0px;
}
.hoverPurple {
    position: absolute;
    width: 160px;
    height: 650px;
    left: 1713px;
    top: 0px;
}

/* Picture and introduction */

.portrait-container {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 260px;
    top: 160px;
    z-index: -1;
}

.portrait {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.intro {
    position: relative;
    top: 630px;
    left: 320px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: 700px;
    z-index: -1;
}

.bigIntro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
    font-size: 58px;
    letter-spacing: -0.02em;
    color: var(--brown);
}
.bigIntro_d {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
    font-size: 58px;
    letter-spacing: -0.02em;
    color: var(--light);
}
.bigText {
    font-size: var(--big-font);
    font-family: var(--josefin);
    line-height: 54px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.smallIntro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 650px;
    color: var(--brown);
}
.smallIntro_d {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 650px;
    color: var(--light);
}
.smallText {
    /* font-style: var(--inter); */
    font-size: var(--small-font);
    line-height: 22px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

#p1 {
    margin-right: 15px;
}
#p2 {
    margin-right: 15px;
    margin-bottom: 25px;
}
/* #p3 {
    margin-right: 10px;
} */

/* ------------------------------------------------------ About page ------------------------------------------------------ */

#about {
    width: 100vw;
    /* height: 100vh; */
    height: 90vh;
    font-family: var(--josefin);
    display: block;
    /* z-index: -1; */
    position: relative;
    /* margin-top: 100px; */
}

#about-header {
    position: relative;
    top: 100px;
}

.about {
    width: 100%;
    height: fit-content;
    /* z-index: -1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;
    /* pointer-events: none; */
} 

#aboutText {
    margin-top: 1%;
    margin-bottom: 5%;
}
#playlist {
    margin-top: 1%;
    cursor: pointer;
}

/* ------------------------------------------------------ Projects page ------------------------------------------------------ */

#projects {
    width: 100vw;
    height: 100vh;
    font-family: var(--josefin);
    display: block;
}

#projects-header {
    position: relative;
    top: 100px;
    margin-bottom: 15px;
}

#projects h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--brown);
}
#live {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top: 90px;
    right: 530px;
    line-height: 48px;
}
#comingsoon {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top: 20px;
    right: 596px;
    line-height: 48px;
}

#project-btn1 {
    top: 162px;
    right: 570px;
    cursor: pointer;
}

.project-btn {
    display: block;
    margin: 0 auto;
    width: fit-content;
    position: relative;
}
.project {
    margin: 20px auto;
    height: 200px;
    width: 920px;
}

.project-img {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 40px;
}
.project-desc {
    width: 680px;
    height: 200px;
    float: right;
}
.project-desc h3 {
    margin-top: 3px;
}
.project-desc p {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.role {
    width: 50%;
    float: left;
    align-items: start;
}
.role p {
    margin-right: 5px;
}
.timeline {
    width: fit-content;
    float: right;
    justify-content: end;
}
.timeline p {
    margin-left: 5px;
}
.small-header {
    color: var(--brown);
}
.desc {
    position: relative;
    top: 20px;
}


/* ------------------------------------------------------ Contact page ------------------------------------------------------ */

#contact {
    width: 100vw;
    font-family: var(--josefin);
    display: block;
    margin-top: 120px;
}
#contact-header {
    position: relative; 
    top: 20px;
}

.contact {
    width: 50%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--josefin);
}

#formIntro {
    margin-bottom: 3%;
}

.form {
    width: 920px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--brown);
    background-color: #CCD8C8;
    border-radius: 50px;
    padding-top: 30px;
    /* z-index: 1; */
}
.form_d {
    width: 920px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light);
    background-color: #CCD8C8;
    border-radius: 50px;
    padding-top: 30px;
    /* z-index: 1; */
}

.input-placeholder {
    position: relative;
    width: 80%;
    height: 48px;
    margin: 10px;
    font-style: var(--inter);
    font-weight: 400;
}
.input {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #EEF1F4;
    background-color: #EEF1F4;
    padding-left: 1%;
}
.input:focus {
    outline: none;
}
.input-placeholder input:valid + .placeholder {
    display: none;
}
.placeholder {
    position: relative;
    pointer-events: none;
    top: 35%;
    left: 1.2%;
    margin: auto;
    color: #67605E;
}
span {
    margin-left: 5px;
    color: #FF3131;
}
#messagelbl {
    margin-left: 90px;
    margin-bottom: 10px;
    align-self: flex-start;
    color: var(--brown);
    font-style: var(--josefin);
    font-size: 18px;
}
#message {
    width: 79%;
    max-width: 80%;
    /* margin-left: 10px; */
    margin-top: 5px;
    /* margin-right: 10px; */
    border-radius: 10px;
    border: 1px solid #EEF1F4;
    background-color: #EEF1F4;
    color: var(--brown);
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 200px;
}
#message:focus {
    outline: none;
}
#send {
    width: 150px;
    height: 55px;
    background-color: var(--green);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    border-radius: 24px;
    border: none;
    margin: 20px;
    font-size: 16px;
    font-style: var(--josefin);
    letter-spacing: 0.03em;
    font-feature-settings: 'calt' off;  
    cursor: pointer;
}

/* Utility classes */

.green {
    color: var(--green);
}
.green_d {
    color: var(--green_d);
}
.bold {
    font-weight: 700;
}
.dark {
    color: var(--light);
}
.brown {
    color: var(--brown);
}
.orange {
    color: #FF5E30;
    margin-right: 0;
}
.orange_d {
    color: #FD8967;
}
